#conEnergyLabel {
    position: absolute;
    top: 10px;
    left: 227px;
    color: #008800;
}

#conEnergyGauge {
    position: absolute;
    top: 7px;
    left: 300px;
    width: 100px;
    height: 14px;
    border: inset 3px #333;
    background: linear-gradient(to right, rgba(160,0,0,1) 0%,rgba(160,160,0,1) 25%, rgba(160,160,0,1) 33%, rgba(0,120,0,1) 80%, rgba(0,128,0,1) 100%);
}

#conEnergyBar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 14px;
    background-color: #181818;
}

.conButton {
    position: absolute;
    color: #111111;
    background-color: #999;
    border: outset 2px #bbb;
    font-size: 10px;
    width: 50px;
    text-align: center;
}

.conButton:hover {
    border: inset 2px #aaa;
    cursor: default;
}

.conIndicator {
    position: absolute;
    border: outset 2px #CCC;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background-color: #008800;
}

.conGauge {
    position: absolute;
    width: 100px;
    height: 15px;
    border: inset 2px #333;
    background: linear-gradient(to right, rgba(160,0,0,1) 0%,rgba(160,160,0,1) 25%, rgba(160,160,0,1) 33%, rgba(0,120,0,1) 80%, rgba(0,128,0,1) 100%);
}

.conGaugeBar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 100%;
    background-color: #181818;
}

#conGaugePanel {
    position: absolute;
    top: 40px;
    left: 215px;
    width: 193px;
    height: 77px;
    border: groove 3px #333;
    border-radius: 9px;
}

#conShieldButton {
    top: 8px;
    left: 8px;
}

#conShieldIndicator {
    top: 10px;
    left: 67px;
}

#conShieldGauge {
    top: 6px;
    left: 83px;
}

#conPulseButton {
    top: 31px;
    left: 8px;
}

#conPulseIndicator {
    top: 33px;
    left: 67px;
}

#conPulseGauge {
    top: 29px;
    left: 83px;
}

#conTorpedoButton {
    top: 54px;
    left: 8px;
}

#conTorpedoIndicator {
    top: 56px;
    left: 67px;
}

#conTorpedoGauge {
    top: 52px;
    left: 83px;
}

#conNavContainer {
    position: absolute;
    top: 7px;
    left: 430px;
    width: 145px;
    height: 140px;
    border: groove 3px #333;
    border-radius: 9px;
    background: linear-gradient(to bottom, rgba(45,0,0,1) 0%, rgba(16,0,0,1) 15%, rgba(0,0,0,1) 50%, rgba(16,0,0,1) 85%, rgba(45,0,0,1) 100%);
}

#conNavLabel {
    color: #bbb;
    margin-left: 8px;
    margin-top: 5px;
}

.conNavButton {
    position: absolute;
    width: 40px;
    height: 39px;
    opacity: .60;
}

.conNavButton2 {
    position: absolute;
    width: 39px;
    height: 30px;
    opacity: .60;
}

.conNavButton:hover {
    opacity: 1;
}

.conNavButton2:hover {
    opacity: 1;
}

#conLeft {
    top: 51px;
    left: 10px;
}

#conRight {
    top: 51px;
    left: 97px;
}

#conStop {
    position: absolute;
    top: 54px;
    left: 57px;
    width: 31px;
    height: 31px;
    border: solid 1px #fff;
    background-color: #300;
    opacity: .60;
}

#conStop:hover {
    opacity: 1
}

#conForward {
    top: 18px;
    left: 54px;
}

#conReverse {
    top: 93px;
    left: 54px;
}

#conCommContainer {
    position: absolute;
    right: 8px;
    top: 7px;
    width: 200px;
    height: 178px;
    border: inset 2px #333;
    border-radius: 9px;
    background: linear-gradient(-15deg, rgba(0,8,0,1) 0%,rgba(0,30,0,1) 100%);
}

#conCommLabel {
    position: absolute;
    right: 170px;
    top: 195px;
    color: #ddd;
}

#conCommHailButton {
    position: absolute;
    right: 77px;
    top: 195px;
    color: black;
}

#conCommAckButton {
    position: absolute;
    right: 17px;
    top: 195px;
    color: black;
}
