body {
    background-color: red;
    margin: 0px;
    overflow: hidden;
    user-select: none;
}

#screen {
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: sans-serif;
    background-color: red;
}


#consoleContainer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 240px;
    border-top: groove 6px #333;
    border-bottom: groove 6px #333;
    background: linear-gradient(0deg, rgba(0,0,0,1) 15%,rgba(34,30,34,1) 92%, rgba(60,60,62,1) 96%,rgba(96,96,100,1) 100%);
}

#console {
    position: relative;
    width: 1000px;
    height: 215px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: groove 4px #333;
}

.button {
    display: inline-block;
    font-size: 24px;
    color: white;
}

.button:hover {
    color: #FC4;
}

